DATABASE_URL=postgres://personal_website:local_password@localhost:5432/personal_website
MIGRATION_DATABASE_URL=postgres://personal_website:local_password@localhost:5432/personal_website
SITE_URL=http://localhost:3000
